html, body {
	font-family: Lora, serif;
	letter-spacing: 2px;
	color: #ece7d3;
	background-color: #2C364B;
}

.container {
	float:left;
	width: 100%;
	text-align: center;
	display: block;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

table {
	border: none;
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}
